<div id="{{id}}-data-modal" class="side-modal">
	<a href="javascript:void(0)" class="closeSideNavBtn" onclick="closeSideData()">&times;</a>

	<img class="world-data-images" data-id="{{id}}" src="/assets/images/{{image_slug}}.jpg">
	</img>

	<p>Name: <span class="world-data-name">{{world_name}}</span></p>
	<p>Classification: <span class="world-data-class">{{classification}}</span></p>
	<p>Supports Life: <span class="world-data-life">{{life}}</span></p>
	<p>Has Intelligent Life: <span class="world-data-intel-life">{{intelligent_life}}</span></p>

	<button class="destroy-button" data-id="{{id}}">DESTROY</button>

</div>